<script>
    Event.observe(window, 'load', function () {
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>ace_editor/ace.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
            try {
                s.onload = function () {
                    var aceWrapper = new AceEditor(<?= $this->getEditableTextAreas() ?>);
                    aceWrapper.reload();
                }
            }
            catch (err) {
            }
        })();
    });

    var AceEditor = Class.create();
    AceEditor.prototype = {
        initialize: function (editableAreas) {
            this.editableAreas = editableAreas;
            this.editors = {};
        },
        reload: function () {
            var self = this;

            /* Add Ace editor to any matching textareas. */
            this.editableAreas.map(function (editableArea) {
                var textAreas = $$(editableArea.id);
                textAreas.each(function (textArea) {
                    textArea.insert({'after': '<div id="editor-' + textArea.id + '" class="textarea" style="height: 24em;"></div>'});
                    textArea.hide();

                    var editorId = 'editor-' + textArea.id;
                    $(editorId).style.fontSize = <?= $this->getSetting('session/font_size') ?>;

                    var editor = ace.edit(editorId);
                    editor.setShowPrintMargin(false);
                    editor.getSession().setUseWorker(false);
                    editor.getSession().setMode('ace/mode/' + editableArea.type);
                    editor.getSession().setValue(textArea.value);

                    // Editor Options
                    editor.setTheme(<?= $this->getSetting('session/theme') ?>);
                    editor.setHighlightActiveLine(<?= $this->getSetting('session/highlight_active_line') ?>);
                    editor.getSession().setUseSoftTabs(<?= $this->getSetting('session/use_soft_tabs') ?>);
                    editor.getSession().setTabSize(<?= $this->getSetting('session/tab_size') ?>);
                    editor.getSession().setUseWrapMode(<?= $this->getSetting('session/soft_wrap') ?>);

                    // Remove the required-entry CSS class so Magento will allow the contents of the editor to be submitted.
                    textArea.removeClassName('required-entry');
                    editor.getSession().on('change', function () {
                        textArea.value = editor.getSession().getValue();
                    });

                    self.editors[textArea.id] = editor;
                });
            });

            <?php /* We have to override some functions declared in js/mage/variables.js and js/mage/widget.js so the code is inserted in Ace */ ?>
            if (MagentovariablePlugin !== undefined) {
                MagentovariablePlugin.insertVariable = function (value) {
                    if (this.textareaId) {
                        ace.editors[this.textareaId].insert(value);
                        Variables.closeDialogWindow();
                    }
                };
            }

            /**
             * Adds support for the 'Insert Widget' button
             **/
            if (WysiwygWidget !== undefined && WysiwygWidget.Widget !== undefined) {
                WysiwygWidget.Widget.addMethods({
                    updateContent: function (content) {
                        self.editors[this.widgetTargetId].insert(content);
                    }
                });
            }

            window.updateElementAtCursor = function (el, value, win) {
                self.editors[el.id].insert(value);
            }
        }
    };


    // The catalog_category view uses AJAX to load the category's info
    Ajax.Responders.register({
        onComplete: function () {
            aceWrapper.reload();
        }
    });
</script>